@model HabitTracker.Models.User

<h2>Dashboard</h2>
<a href="/Habit/Suggestion">AI Suggestion</a>
<p><b>Level:</b> @Model.Level</p>
<p><b>XP:</b> @Model.XP</p>

<div class="progress mb-3">
    <div class="progress-bar bg-success"
         style="width:@(Model.XP)%">
        @Model.XP / 100 XP
    </div>
</div>

<!-- CHART -->
<canvas id="habitChart" height="100"></canvas>

<!-- BEST HABIT -->
<div class="card p-3 mt-4 shadow-sm">
    <h5>🏆 Best Habit</h5>

    @{
        var best = Model.Habits?.OrderByDescending(h => h.XPReward).FirstOrDefault();
    }

    @if (best != null)
    {
        <p><b>@best.Name</b></p>
    }
</div>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
        const ctx = document.getElementById('habitChart');

        new Chart(ctx, {
            type: 'line',
            data: {
                labels: [@Html.Raw(ViewBag.ChartLabels)],
                datasets: [{
                    label: 'Completed Habits',
                    data: [@Html.Raw(ViewBag.ChartData)],
                    borderWidth: 2
                }]
            }
        });
    </script>
}