@model HabitTracker.Models.Habit

<h2>Create Habit</h2>

<form method="post">

    <label>Habit</label>
    <select name="Name" class="form-control">
        <option>🏃 Exercise</option>
        <option>📚 Read Book</option>
        <option>💧 Drink Water</option>
        <option>🧘 Meditate</option>
    </select>

    <label class="mt-2">Icon</label>
    <select name="Icon" class="form-control">
        <option value="run.png">🏃</option>
        <option value="book.png">📚</option>
        <option value="water.png">💧</option>
        <option value="meditate.png">🧘</option>
    </select>

    <label class="mt-2">Reminder</label>
    <input type="time" name="ReminderTime" class="form-control" />

    <label class="mt-2">Frequency</label>
    <select name="Frequency" class="form-control">
        <option>Daily</option>
        <option>Weekly</option>
    </select>

    <label class="mt-2">Deadline</label>
    <input type="date" name="Deadline" class="form-control" />

    <button class="btn btn-success mt-3">Create</button>

</form>